// Place all the styles related to the info controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
nav{
  background-color: #183d61 !important
}
#add-button{
  top: 3px;
  left: 15px;
}
#machine-count{
  position: relative;
  left: 25px;
}
