<nav>
  <!-- navbar content here -->
</nav>

<ul id="slide-out" class="sidenav">
  <li>
    <div class="user-view">
      <div class="background">
        <img src="">
      </div>
      <a href="#user"><img class="circle" src=""></a>
      <a href="#name">
        <span class="white-text name">John Doe</span></a>
      <a href="#email">
        <span class="white-text email">jdandturk@gmail.com</span></a>
    </div>
  </li>
  <li>
    <a href="#!">
      <i class="material-icons">cloud</i>First Link With Icon</a>
  </li>
  <li>
    <a href="#!">Second Link</a>
  </li>
  <li>
    <div class="divider"></div>
  </li>
  <li>
    <a class="subheader">Subheader</a>
  </li>
  <li>
    <a class="waves-effect" href="#!">Third Link With Waves</a>
  </li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger">
  <i class="material-icons">menu</i>
</a>

<div class="main-menu">

  <ul class="collapsible">
    <li>
      <div class="collapsible-header">
        <i class="material-icons">filter_drama</i>Текущие данные</div>
      <div class="collapsible-body">
        <table id="current-data" class="striped">
          <thead>
            <tr>
              <th>Название</th>
              <th>Значение</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in items">
              <td>
                {{ item[0] }}</td>
              <td>
                {{ item[1] }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <i class="material-icons">place</i>Моточасы</div>
      <div class="collapsible-body">
        <h>МОТОЧАСЫ</h>
        <table class="striped">
          <thead>
            <tr>
              <th>Часы</th>
              <th>Мото</th>
            </tr>
          </thead>
          <tbody>
            <tr >
              <td>
                Часов всего</td>
              <td>
                100
              </td>
            </tr>
            <tr >
              <td>
                Часов за месяц</td>
              <td>
                50
              </td>
            </tr>
            <tr >
              <td>
                Часов за неделю</td>
              <td>
                20
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>
