<!-- Optional: some overlay text to describe the video --

  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Фильтры</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div id="filter" >
      <h3> Выберите данные</h3>
      <form>
        <p v-for='name in filters'>
          <label>
            <input type="checkbox" :id="name" :value="name" class="filled-in" @change="saveFilter" v-model="selected_filters">
            <span>{{name}}</span>
          </label>
        </p
        </form>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Закрыть</a>
    </div>
  </div>
<div class="main-menu">
  <div>
    <h5 class="center-align"><%= @machine.title %></h5>
  </div>
  <ul class="collapsible" id="real-time-data">
    <li v-for="section in data">
      <div class="collapsible-header">
        <i class="material-icons">add</i> {{section[0]}}
      </div>
      <div class="collapsible-body">
        <table class="striped">
          <thead>
            <tr>
              <th><%= I18n.t(:title) %></th>
              <th><%= I18n.t(:value) %></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in section[1]">
              <td>
                {{ item[0] }}
              </td>
              <td>
                {{ item[1] }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>
<canvas id="myChart"></canvas>
<div class="iv-embed" style="margin:0 auto;padding:0;border:0;width:642px;"><div class="iv-v" style="display:block;margin:0;padding:1px;border:0;background:#000;"><iframe class="iv-i" style="display:block;margin:0;padding:0;border:0;" src="https://open.ivideon.com/embed/v2/?server=100-SSA8lWY49iA0vGJteX8QM4&amp;camera=65536&amp;width=&amp;height=&amp;lang=ru" width="640" height="480" frameborder="0" allowfullscreen></iframe></div><div class="iv-b" style="display:block;margin:0;padding:0;border:0;"><div style="float:right;text-align:right;padding:0 0 10px;line-height:10px;"><a class="iv-a" style="font:10px Verdana,sans-serif;color:inherit;opacity:.6;" href="https://www.ivideon.com/" target="_blank">Powered by Ivideon</a></div><div style="clear:both;height:0;overflow:hidden;">&nbsp;</div><script src="https://open.ivideon.com/embed/v2/embedded.js"></script></div></div>

<div class="iv-embed" style="margin:0 auto;padding:0;border:0;width:642px;"><div class="iv-v" style="display:block;margin:0;padding:1px;border:0;background:#000;"><iframe class="iv-i" style="display:block;margin:0;padding:0;border:0;" src="https://open.ivideon.com/embed/v2/?server=100-U38z3WKbx5sRxehHZ60oBI&amp;camera=0&amp;width=&amp;height=&amp;lang=ru" width="640" height="480" frameborder="0" allowfullscreen></iframe></div><div class="iv-b" style="display:block;margin:0;padding:0;border:0;"><div style="float:right;text-align:right;padding:0 0 10px;line-height:10px;"><a class="iv-a" style="font:10px Verdana,sans-serif;color:inherit;opacity:.6;" href="https://www.ivideon.com/" target="_blank">Powered by Ivideon</a></div><div style="clear:both;height:0;overflow:hidden;">&nbsp;</div><script src="https://open.ivideon.com/embed/v2/embedded.js"></script></div></div>
