<!-- Optional: some overlay text to describe the video --

  <!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Фильтры</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div id="filter" >
      <h3> Выберите данные</h3>
      <form>
        <p v-for='name in filters'>
          <label>
            <input type="checkbox" :id="name" :value="name" class="filled-in" @change="saveFilter" v-model="selected_filters">
            <span>{{name}}</span>
          </label>
        </p
        </form>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Закрыть</a>
    </div>
  </div>
<div class="main-menu">
  <div>
    <h5 class="center-align"><%= @machine.title %></h5>
  </div>
  <ul class="collapsible" id="real-time-data">
    <li v-for="section in data">
      <div class="collapsible-header">
        <i class="material-icons">add</i> {{section[0]}}
      </div>
      <div class="collapsible-body">
        <table class="striped">
          <thead>
            <tr>
              <th><%= I18n.t(:title) %></th>
              <th><%= I18n.t(:value) %></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in section[1]">
              <td>
                {{ item[0] }}
              </td>
              <td>
                {{ item[1] }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

<div id="flex-container">
  <div class="flex-item">
    <canvas id="myChart"></canvas>
</div>
  <div class="flex-item">
    <%=@machine.ivedion_src&.html_safe%>
  </div>
</div>
<style>
  //#flex-container {
  //  display: flex;
  //  justify-content: center;
  //  align-items: center;
  //}

  .flex-item{
    padding-right: 5px;
    width: 640px;
    height: 480px;
  }
</style>
